{
  "openapi": "3.1.0",
  "info": {
    "title": "Sentinel X Mobile API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sentinelxesports.com.ng"
    }
  ],
  "paths": {
    "/api/mobile/v1/auth/request-reset": {
      "post": {
        "operationId": "postAuthRequestReset",
        "summary": "Send a password-reset email. Always returns ok — neutral regardless of whether the account exists.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/auth/resend-confirmation": {
      "post": {
        "operationId": "postAuthResendConfirmation",
        "summary": "Re-send the signup confirmation email. Always returns ok — neutral regardless of whether the address maps to an unconfirmed account.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/auth/signup": {
      "post": {
        "operationId": "postAuthSignup",
        "summary": "Create an account (ban/retired-username checks, referral + locale metadata). A confirmation email follows via the existing Supabase template.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9_]+$"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "ref": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "fr",
                      "pcm"
                    ]
                  }
                },
                "required": [
                  "username",
                  "email",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/best-play": {
      "get": {
        "operationId": "getCommunityBestPlay",
        "summary": "Best Play of the Week banner — nominations, vote tallies, and the caller's own vote, when the voting window is open.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "nominations": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "nominationId": {
                                    "type": "string"
                                  },
                                  "postId": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  },
                                  "authorName": {
                                    "type": "string"
                                  },
                                  "voteCount": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "nominationId",
                                  "postId",
                                  "content",
                                  "authorName",
                                  "voteCount"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "myVoteNominationId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "nominations",
                            "myVoteNominationId"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/best-play/{nominationId}/vote": {
      "post": {
        "operationId": "postCommunityBestPlayVote",
        "summary": "Vote for a Best Play of the Week nomination — one vote per player per week.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/challenges": {
      "get": {
        "operationId": "getCommunityChallenges",
        "summary": "This week's community challenges and the caller's progress.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "weekLabel": {
                              "type": "string"
                            },
                            "challenges": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "slug": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "goal": {
                                    "type": "number"
                                  },
                                  "progress": {
                                    "type": "number"
                                  },
                                  "completed": {
                                    "type": "boolean"
                                  },
                                  "coinReward": {
                                    "type": "number"
                                  },
                                  "xpReward": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "slug",
                                  "title",
                                  "description",
                                  "goal",
                                  "progress",
                                  "completed",
                                  "coinReward",
                                  "xpReward"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "weekLabel",
                            "challenges"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/comments/{id}": {
      "delete": {
        "operationId": "deleteCommunityComment",
        "summary": "Delete (soft) your own comment. Naturally idempotent, author-only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/comments/{id}/report": {
      "post": {
        "operationId": "postCommunityCommentReport",
        "summary": "Report a comment to staff. post_id is resolved server-side, never trusted from the client.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reasonCode": {
                    "type": "string",
                    "enum": [
                      "spam",
                      "harassment",
                      "hate_speech",
                      "nudity_or_sexual_content",
                      "violence",
                      "misinformation",
                      "other"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "reasonCode"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/feed": {
      "get": {
        "operationId": "getCommunityFeed",
        "summary": "Pinned + boosted + paginated community feed posts.",
        "security": [],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "pinned": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "postType": {
                                "type": "string",
                                "enum": [
                                  "manual",
                                  "match_result",
                                  "achievement",
                                  "announcement"
                                ]
                              },
                              "content": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "imageUrls": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "referenceId": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "isPinned": {
                                "type": "boolean"
                              },
                              "boostedUntil": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "username": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "displayName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "avatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "membershipTier": {
                                    "type": "string"
                                  },
                                  "sentinelTier": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "frameUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "username",
                                  "displayName",
                                  "avatarUrl",
                                  "membershipTier",
                                  "sentinelTier"
                                ],
                                "additionalProperties": false
                              },
                              "canDelete": {
                                "type": "boolean"
                              },
                              "canBoost": {
                                "type": "boolean"
                              },
                              "reactionCounts": {
                                "type": "object",
                                "properties": {
                                  "fire": {
                                    "type": "number"
                                  },
                                  "crown": {
                                    "type": "number"
                                  },
                                  "strong": {
                                    "type": "number"
                                  },
                                  "wow": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "fire",
                                  "crown",
                                  "strong",
                                  "wow"
                                ],
                                "additionalProperties": false
                              },
                              "myReaction": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "fire",
                                      "crown",
                                      "strong",
                                      "wow"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "commentCount": {
                                "type": "number"
                              },
                              "matchResult": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "matchId": {
                                        "type": "string"
                                      },
                                      "tournamentTitle": {
                                        "type": "string"
                                      },
                                      "roundLabel": {
                                        "type": "string"
                                      },
                                      "scoreA": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "scoreB": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "playerA": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "username": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "displayName": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "avatarUrl": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "membershipTier": {
                                                "type": "string"
                                              },
                                              "sentinelTier": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "frameUrl": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "username",
                                              "displayName",
                                              "avatarUrl",
                                              "membershipTier",
                                              "sentinelTier"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "playerB": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "username": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "displayName": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "avatarUrl": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "membershipTier": {
                                                "type": "string"
                                              },
                                              "sentinelTier": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "frameUrl": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "username",
                                              "displayName",
                                              "avatarUrl",
                                              "membershipTier",
                                              "sentinelTier"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "scheduledAt": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "matchId",
                                      "tournamentTitle",
                                      "roundLabel",
                                      "scoreA",
                                      "scoreB",
                                      "playerA",
                                      "playerB",
                                      "scheduledAt"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "mutedByViewer": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "postType",
                              "content",
                              "imageUrl",
                              "imageUrls",
                              "referenceId",
                              "isPinned",
                              "boostedUntil",
                              "createdAt",
                              "author",
                              "canDelete",
                              "canBoost",
                              "reactionCounts",
                              "myReaction",
                              "commentCount",
                              "matchResult",
                              "mutedByViewer"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "posts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "postType": {
                                "type": "string",
                                "enum": [
                                  "manual",
                                  "match_result",
                                  "achievement",
                                  "announcement"
                                ]
                              },
                              "content": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "imageUrls": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "referenceId": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "isPinned": {
                                "type": "boolean"
                              },
                              "boostedUntil": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "username": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "displayName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "avatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "membershipTier": {
                                    "type": "string"
                                  },
                                  "sentinelTier": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "frameUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "username",
                                  "displayName",
                                  "avatarUrl",
                                  "membershipTier",
                                  "sentinelTier"
                                ],
                                "additionalProperties": false
                              },
                              "canDelete": {
                                "type": "boolean"
                              },
                              "canBoost": {
                                "type": "boolean"
                              },
                              "reactionCounts": {
                                "type": "object",
                                "properties": {
                                  "fire": {
                                    "type": "number"
                                  },
                                  "crown": {
                                    "type": "number"
                                  },
                                  "strong": {
                                    "type": "number"
                                  },
                                  "wow": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "fire",
                                  "crown",
                                  "strong",
                                  "wow"
                                ],
                                "additionalProperties": false
                              },
                              "myReaction": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "fire",
                                      "crown",
                                      "strong",
                                      "wow"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "commentCount": {
                                "type": "number"
                              },
                              "matchResult": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "matchId": {
                                        "type": "string"
                                      },
                                      "tournamentTitle": {
                                        "type": "string"
                                      },
                                      "roundLabel": {
                                        "type": "string"
                                      },
                                      "scoreA": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "scoreB": {
                                        "anyOf": [
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "playerA": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "username": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "displayName": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "avatarUrl": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "membershipTier": {
                                                "type": "string"
                                              },
                                              "sentinelTier": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "frameUrl": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "username",
                                              "displayName",
                                              "avatarUrl",
                                              "membershipTier",
                                              "sentinelTier"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "playerB": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "username": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "displayName": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "avatarUrl": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "membershipTier": {
                                                "type": "string"
                                              },
                                              "sentinelTier": {
                                                "anyOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "null"
                                                  }
                                                ]
                                              },
                                              "frameUrl": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "username",
                                              "displayName",
                                              "avatarUrl",
                                              "membershipTier",
                                              "sentinelTier"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "scheduledAt": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "matchId",
                                      "tournamentTitle",
                                      "roundLabel",
                                      "scoreA",
                                      "scoreB",
                                      "playerA",
                                      "playerB",
                                      "scheduledAt"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "mutedByViewer": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "postType",
                              "content",
                              "imageUrl",
                              "imageUrls",
                              "referenceId",
                              "isPinned",
                              "boostedUntil",
                              "createdAt",
                              "author",
                              "canDelete",
                              "canBoost",
                              "reactionCounts",
                              "myReaction",
                              "commentCount",
                              "matchResult",
                              "mutedByViewer"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pinned",
                        "posts",
                        "hasMore"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/gallery": {
      "get": {
        "operationId": "getCommunityGallery",
        "summary": "Most recent posts with an image, for the gallery grid.",
        "security": [],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "caption": {
                                "type": "string"
                              },
                              "authorName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "imageUrl",
                              "caption",
                              "authorName"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "items",
                        "hasMore"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/posts": {
      "post": {
        "operationId": "postCommunityPost",
        "summary": "Create a manual community post (text and/or up to 5 images).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "imageUrls": {
                    "default": [],
                    "maxItems": 5,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "content",
                  "imageUrls"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/posts/{id}": {
      "delete": {
        "operationId": "deleteCommunityPost",
        "summary": "Delete (soft) your own post. Naturally idempotent, author-only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      },
      "get": {
        "operationId": "getCommunityPost",
        "summary": "One post plus its comments (same PostView shape as the feed).",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "post": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "postType": {
                              "type": "string",
                              "enum": [
                                "manual",
                                "match_result",
                                "achievement",
                                "announcement"
                              ]
                            },
                            "content": {
                              "type": "string"
                            },
                            "imageUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "imageUrls": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "referenceId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "isPinned": {
                              "type": "boolean"
                            },
                            "boostedUntil": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "author": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "username": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "displayName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "avatarUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "membershipTier": {
                                  "type": "string"
                                },
                                "sentinelTier": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "frameUrl": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "username",
                                "displayName",
                                "avatarUrl",
                                "membershipTier",
                                "sentinelTier"
                              ],
                              "additionalProperties": false
                            },
                            "canDelete": {
                              "type": "boolean"
                            },
                            "canBoost": {
                              "type": "boolean"
                            },
                            "reactionCounts": {
                              "type": "object",
                              "properties": {
                                "fire": {
                                  "type": "number"
                                },
                                "crown": {
                                  "type": "number"
                                },
                                "strong": {
                                  "type": "number"
                                },
                                "wow": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "fire",
                                "crown",
                                "strong",
                                "wow"
                              ],
                              "additionalProperties": false
                            },
                            "myReaction": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "fire",
                                    "crown",
                                    "strong",
                                    "wow"
                                  ]
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "commentCount": {
                              "type": "number"
                            },
                            "matchResult": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "matchId": {
                                      "type": "string"
                                    },
                                    "tournamentTitle": {
                                      "type": "string"
                                    },
                                    "roundLabel": {
                                      "type": "string"
                                    },
                                    "scoreA": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "scoreB": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "playerA": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "username": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "displayName": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "avatarUrl": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "membershipTier": {
                                              "type": "string"
                                            },
                                            "sentinelTier": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "frameUrl": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "id",
                                            "username",
                                            "displayName",
                                            "avatarUrl",
                                            "membershipTier",
                                            "sentinelTier"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "playerB": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "username": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "displayName": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "avatarUrl": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "membershipTier": {
                                              "type": "string"
                                            },
                                            "sentinelTier": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            },
                                            "frameUrl": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "id",
                                            "username",
                                            "displayName",
                                            "avatarUrl",
                                            "membershipTier",
                                            "sentinelTier"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "scheduledAt": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "matchId",
                                    "tournamentTitle",
                                    "roundLabel",
                                    "scoreA",
                                    "scoreB",
                                    "playerA",
                                    "playerB",
                                    "scheduledAt"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "mutedByViewer": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "postType",
                            "content",
                            "imageUrl",
                            "imageUrls",
                            "referenceId",
                            "isPinned",
                            "boostedUntil",
                            "createdAt",
                            "author",
                            "canDelete",
                            "canBoost",
                            "reactionCounts",
                            "myReaction",
                            "commentCount",
                            "matchResult",
                            "mutedByViewer"
                          ],
                          "additionalProperties": false
                        },
                        "comments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "username": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "displayName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "avatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "membershipTier": {
                                    "type": "string"
                                  },
                                  "sentinelTier": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "frameUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "username",
                                  "displayName",
                                  "avatarUrl",
                                  "membershipTier",
                                  "sentinelTier"
                                ],
                                "additionalProperties": false
                              },
                              "canDelete": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "content",
                              "createdAt",
                              "author",
                              "canDelete"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "post",
                        "comments"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/posts/{id}/boost": {
      "post": {
        "operationId": "postCommunityPostBoost",
        "summary": "Boost your own manual post to the top of the feed for 24h (200 coins).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/community/posts/{id}/comments": {
      "get": {
        "operationId": "getCommunityPostComments",
        "summary": "A post's comments (author join, is_deleted filtered, chronological — capped at 50).",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "comments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "author": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "username": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "displayName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
[...]
