{
  "openapi": "3.1.0",
  "info": {
    "title": "Sentinel X Mobile API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sentinelxesports.com.ng"
    }
  ],
  "paths": {
    "/api/mobile/v1/auth/request-reset": {
      "post": {
        "operationId": "postAuthRequestReset",
        "summary": "Send a password-reset email. Always returns ok — neutral regardless of whether the account exists.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/auth/resend-confirmation": {
      "post": {
        "operationId": "postAuthResendConfirmation",
        "summary": "Re-send the signup confirmation email. Always returns ok — neutral regardless of whether the address maps to an unconfirmed account.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/auth/signup": {
      "post": {
        "operationId": "postAuthSignup",
        "summary": "Create an account (ban/retired-username checks, referral + locale metadata). A confirmation email follows via the existing Supabase template.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9_]+$"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "ref": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "fr",
                      "pcm"
                    ]
                  }
                },
                "required": [
                  "username",
                  "email",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Runtime configuration, kill-switch and feature flags (unauthenticated, cacheable).",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "minSupportedAppVersion": {
                          "type": "string"
                        },
                        "latestAppVersion": {
                          "type": "string"
                        },
                        "maintenance": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "message"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "siteUrl": {
                          "type": "string"
                        },
                        "coins": {
                          "type": "object",
                          "properties": {
                            "coinsPerNaira": {
                              "type": "number"
                            },
                            "nairaPerCoin": {
                              "type": "number"
                            },
                            "coinsPerEntry": {
                              "type": "number"
                            },
                            "coinsHalfEntry": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "coinsPerNaira",
                            "nairaPerCoin",
                            "coinsPerEntry",
                            "coinsHalfEntry"
                          ],
                          "additionalProperties": false
                        },
                        "enforcePhoneVerification": {
                          "type": "boolean"
                        },
                        "whatsappCommunityUrl": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "features": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "boolean"
                          }
                        }
                      },
                      "required": [
                        "minSupportedAppVersion",
                        "latestAppVersion",
                        "maintenance",
                        "siteUrl",
                        "coins",
                        "enforcePhoneVerification",
                        "whatsappCommunityUrl",
                        "features"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/devices": {
      "delete": {
        "operationId": "deleteDevice",
        "summary": "Unregister this device’s token (call before sign-out).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      },
      "post": {
        "operationId": "postDevice",
        "summary": "Register (or move to this account) this device’s native FCM token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 4096
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "android",
                      "ios"
                    ]
                  },
                  "appVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  }
                },
                "required": [
                  "token",
                  "platform",
                  "appVersion"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/errors": {
      "post": {
        "operationId": "postClientError",
        "summary": "Report an app crash/exception into client_error_logs. Works signed-out. Never fails the caller.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20000
                  },
                  "stack": {
                    "type": "string",
                    "maxLength": 40000
                  },
                  "route": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "android",
                      "ios"
                    ]
                  },
                  "appVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "locale": {
                    "type": "string",
                    "maxLength": 10
                  }
                },
                "required": [
                  "message",
                  "platform",
                  "appVersion"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/home": {
      "get": {
        "operationId": "getHome",
        "summary": "Home: banners, live/upcoming tournaments, leaderboard teaser, hall-of-fame teaser, platform stats. Public — visible logged out, same as the web home page.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "banner": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "linkUrl": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title",
                                "imageUrl",
                                "linkUrl"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "featuredTournament": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "prizePool": {
                                  "type": "number"
                                },
                                "registrationFee": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "tournamentStart": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "registrationEnd": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tournamentEnd": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "maxPlayers": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "format": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tournamentType": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "cardImageUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "game": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "iconUrl": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "slug": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "category": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "name",
                                        "iconUrl",
                                        "slug",
                                        "category"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "title",
                                "slug",
                                "prizePool",
                                "registrationFee",
                                "status",
                                "tournamentStart",
                                "registrationEnd",
                                "tournamentEnd",
                                "maxPlayers",
                                "format",
                                "tournamentType",
                                "cardImageUrl",
                                "game"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "upcomingTournaments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "prizePool": {
                                "type": "number"
                              },
                              "registrationFee": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string"
                              },
                              "tournamentStart": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "registrationEnd": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "tournamentEnd": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "maxPlayers": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "format": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "tournamentType": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "cardImageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "game": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "iconUrl": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "slug": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "category": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "iconUrl",
                                      "slug",
                                      "category"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "slug",
                              "prizePool",
                              "registrationFee",
                              "status",
                              "tournamentStart",
                              "registrationEnd",
                              "tournamentEnd",
                              "maxPlayers",
                              "format",
                              "tournamentType",
                              "cardImageUrl",
                              "game"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "leaderboardTeaser": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "username": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "displayName": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "avatarUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "wins": {
                                "type": "number"
                              },
                              "totalMatches": {
                                "type": "number"
                              },
                              "sxScore": {
                                "type": "number"
                              },
                              "sentinelTier": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "membershipTier": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "equippedAvatarBorder": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "username",
                              "displayName",
                              "avatarUrl",
                              "wins",
                              "totalMatches",
                              "sxScore",
                              "sentinelTier",
                              "membershipTier",
                              "equippedAvatarBorder"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "hallOfFame": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "slug": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "prizePool": {
                                  "type": "number"
                                },
                                "gameName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "championName": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "slug",
                                "title",
                                "prizePool",
                                "gameName",
                                "championName"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "playerCount": {
                              "type": "number"
                            },
                            "tournamentCount": {
                              "type": "number"
                            },
                            "prizesPaidOut": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "playerCount",
                            "tournamentCount",
                            "prizesPaidOut"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "banner",
                        "featuredTournament",
                        "upcomingTournaments",
                        "leaderboardTeaser",
                        "hallOfFame",
                        "stats"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/invitations/{id}/accept": {
      "post": {
        "operationId": "postInvitationAccept",
        "summary": "Accept a season invitation — confirms immediately if free, else opens a Paystack transaction.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "const": "confirmed"
                            }
                          },
                          "required": [
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "const": "pending"
                            },
                            "authorizationUrl": {
                              "type": "string"
                            },
                            "reference": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "status",
                            "authorizationUrl",
                            "reference"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/invitations/{id}/decline": {
      "post": {
        "operationId": "postInvitationDecline",
        "summary": "Decline a season invitation — cascades to the next invitee.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "declined"
                        }
                      },
                      "required": [
                        "status"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/lobbies/{id}/result": {
      "post": {
        "operationId": "postLobbyResult",
        "summary": "Submit a placement/kills result for one lobby (BR/points-race formats) for admin review.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "placement": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "kills": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "screenshotPath": {
                    "type": "string"
                  }
                },
                "required": [
                  "placement",
                  "kills",
                  "screenshotPath"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/matches/{id}/centre": {
      "get": {
        "operationId": "getMatchCentre",
        "summary": "Composed Match Centre view: participation, check-in state, wager pools/window, no-show eligibility.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "matchId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "scheduledAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "isFullDay": {
                          "type": "boolean"
                        },
                        "isParticipant": {
                          "type": "boolean"
                        },
                        "canCheckIn": {
                          "type": "boolean"
                        },
                        "checkedInPlayerIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "checkInVerdict": {
                          "type": "string",
                          "enum": [
                            "both",
                            "one",
                            "none"
                          ]
                        },
                        "soleAttendeeId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "wager": {
                          "type": "object",
                          "properties": {
                            "windowOpen": {
                              "type": "boolean"
                            },
                            "pools": {
                              "type": "object",
                              "properties": {
                                "playerA": {
                                  "type": "number"
                                },
                                "playerB": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "playerA",
                                "playerB"
                              ],
                              "additionalProperties": false
                            },
                            "feeRate": {
                              "type": "number"
                            },
                            "minStake": {
                              "type": "number"
                            },
                            "maxStake": {
                              "type": "number"
                            },
                            "myPickPlayerId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "myStakeCoins": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "estimatedPayoutIfIStakeA100": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "windowOpen",
                            "pools",
                            "feeRate",
                            "minStake",
                            "maxStake",
                            "myPickPlayerId",
                            "myStakeCoins",
                            "estimatedPayoutIfIStakeA100"
                          ],
                          "additionalProperties": false
                        },
                        "noShowEligible": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "matchId",
                        "status",
                        "scheduledAt",
                        "isFullDay",
                        "isParticipant",
                        "canCheckIn",
                        "checkedInPlayerIds",
                        "checkInVerdict",
                        "soleAttendeeId",
                        "wager",
                        "noShowEligible"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/matches/{id}/check-in": {
      "post": {
        "operationId": "postMatchCheckIn",
        "summary": "Mark the signed-in player present for a match.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/matches/{id}/rating": {
      "post": {
        "operationId": "postMatchRating",
        "summary": "Rate your opponent 1-5 stars after a confirmed match result.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stars": {
                    "anyOf": [
                      {
                        "type": "number",
                        "const": 1
                      },
                      {
                        "type": "number",
                        "const": 2
                      },
                      {
                        "type": "number",
                        "const": 3
                      },
                      {
                        "type": "number",
                        "const": 4
                      },
                      {
                        "type": "number",
                        "const": 5
                      }
                    ]
                  }
                },
                "required": [
                  "stars"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/matches/{id}/result": {
      "post": {
        "operationId": "postMatchResult",
        "summary": "Submit a match result (screenshot required) for admin review.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scoreA": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 99
                  },
                  "scoreB": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 99
                  },
                  "recordingUrl": {
                    "default": "",
                    "type": "string"
                  },
                  "screenshotPath": {
                    "type": "string"
                  }
                },
                "required": [
                  "scoreA",
                  "scoreB",
                  "recordingUrl",
                  "screenshotPath"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/matches/{id}/wager": {
      "post": {
        "operationId": "postMatchWager",
        "summary": "Place or change a coin wager on a match you are not playing in.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pickPlayerId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "stakeCoins": {
                    "type": "integer",
                    "minimum": 50,
                    "maximum": 2000
                  }
                },
                "required": [
                  "pickPlayerId",
                  "stakeCoins"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "The signed-in user, their roles (drives the role-aware Admin section) and own profile.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "roles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isStaff": {
                          "type": "boolean"
                        },
                        "isAdmin": {
                          "type": "boolean"
                        },
                        "profile": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "username": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "displayName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "avatarUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "whatsappNumber": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "country": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "locale": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "membershipTier": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "kycVerified": {
                                  "type": "boolean"
                                },
                                "deletionRequestedAt": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "username",
                                "displayName",
                                "avatarUrl",
                                "whatsappNumber",
                                "country",
                                "locale",
                                "membershipTier",
                                "kycVerified",
                                "deletionRequestedAt"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "roles",
                        "isStaff",
                        "isAdmin",
                        "profile"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/me/profile": {
      "patch": {
        "operationId": "patchMeProfile",
        "summary": "Update the signed-in player's own profile (display name, bio, country, one-time username change, avatar).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60
                  },
                  "username": {
                    "anyOf": [
                      {
                        "type": "string",
                        "const": ""
                      },
                      {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 20,
                        "pattern": "^[a-zA-Z0-9_]+$"
                      }
                    ]
                  },
                  "whatsapp": {
                    "anyOf": [
                      {
                        "type": "string",
                        "const": ""
                      },
                      {
                        "type": "string",
                        "pattern": "^\\+?[0-9]{10,15}$"
                      }
                    ]
                  },
                  "country": {
                    "anyOf": [
                      {
                        "type": "string",
                        "const": ""
                      },
                      {
                        "type": "string",
                        "maxLength": 60
                      }
                    ]
                  },
                  "bio": {
                    "anyOf": [
                      {
                        "type": "string",
                        "const": ""
                      },
                      {
                        "type": "string",
                        "maxLength": 280
                      }
                    ]
                  },
                  "avatarUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "displayName",
                  "username",
                  "whatsapp",
                  "country",
                  "bio"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/me/summary": {
      "get": {
        "operationId": "getMeSummary",
        "summary": "Dashboard fixtures summary: next fixture, submit-result prompt, active registrations, qualify/eliminate banners.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "nextMatch": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "round": {
                                  "type": "string"
                                },
                                "scheduledAt": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "isFullDay": {
                                  "type": "boolean"
                                },
                                "tournamentTitle": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "status",
                                "round",
                                "scheduledAt",
                                "isFullDay",
                                "tournamentTitle"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "nextLobby": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "lobbyId": {
                                  "type": "string"
                                },
                                "tournamentTitle": {
                                  "type": "string"
                                },
                                "stageName": {
                                  "type": "string"
                                },
                                "roundNo": {
                                  "type": "number"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "scheduledAt": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "hasRoomCode": {
                                  "type": "boolean"
                                },
                                "submitted": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "lobbyId",
                                "tournamentTitle",
                                "stageName",
                                "roundNo",
                                "label",
                                "scheduledAt",
                                "hasRoomCode",
                                "submitted"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "hasSubmittableMatch": {
                          "type": "boolean"
                        },
                        "registrations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "paymentStatus": {
                                "type": "string"
                              },
                              "tournamentTitle": {
                                "type": "string"
                              },
                              "tournamentSlug": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "paymentStatus",
                              "tournamentTitle",
                              "tournamentSlug"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "banners": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "qualified"
                                  },
                                  "tournamentTitle": {
                                    "type": "string"
                                  },
                                  "tournamentSlug": {
                                    "type": "string"
                                  },
                                  "round": {
                                    "type": "string"
                                  },
                                  "awaitingOpponent": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "tournamentTitle",
                                  "tournamentSlug",
                                  "round",
                                  "awaitingOpponent"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "const": "eliminated"
                                  },
                                  "tournamentTitle": {
                                    "type": "string"
                                  },
                                  "tournamentSlug": {
                                    "type": "string"
                                  },
                                  "round": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind",
                                  "tournamentTitle",
                                  "tournamentSlug",
                                  "round"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          }
                        }
                      },
                      "required": [
                        "nextMatch",
                        "nextLobby",
                        "hasSubmittableMatch",
                        "registrations",
                        "banners"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/onboarding/username": {
      "post": {
        "operationId": "postOnboardingUsername",
        "summary": "Claim a username after email confirmation — resolveOnboardingGate’s first step.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  }
                },
                "required": [
                  "username"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "username"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/payments/{reference}": {
      "get": {
        "operationId": "getPaymentStatus",
        "summary": "Poll a Paystack registration payment's confirmation status. The webhook remains the source of truth; this is UI polling only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "confirmed",
                            "already_paid",
                            "not_found",
                            "not_successful"
                          ]
                        }
                      },
                      "required": [
                        "status"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/session/start": {
      "post": {
        "operationId": "postSessionStart",
        "summary": "Runs login()'s server-side side-effects (daily login coins/XP/streak) and reports deletion-pending status. Call once per app process after a session exists — not on every screen visit.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dailyLogin": {
                          "type": "object",
                          "properties": {
                            "awardedToday": {
                              "type": "boolean"
                            },
                            "coinsAwarded": {
                              "type": "number"
                            },
                            "xpAwarded": {
                              "type": "number"
                            },
                            "streak": {
                              "type": "number"
                            },
                            "milestone": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "week",
                                    "month"
                                  ]
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "awardedToday",
                            "coinsAwarded",
                            "xpAwarded",
                            "streak",
                            "milestone"
                          ],
                          "additionalProperties": false
                        },
                        "deletionRequestedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "dailyLogin",
                        "deletionRequestedAt"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/squads": {
      "post": {
        "operationId": "postSquads",
        "summary": "Create a squad for a squad-entry tournament and receive its invite code.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tournamentId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 30
                  }
                },
                "required": [
                  "tournamentId",
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "squadId": {
                          "type": "string"
                        },
                        "inviteCode": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "squadId",
                        "inviteCode"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/squads/lookup": {
      "get": {
        "operationId": "getSquadLookup",
        "summary": "Preview a squad by its invite code before committing to join it.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "squad": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "memberCount": {
                              "type": "number"
                            },
                            "teamSize": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "memberCount",
                            "teamSize"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "squad"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/tournaments/{id}/bracket": {
      "get": {
        "operationId": "getTournamentBracket",
        "summary": "Group standings, fixtures, and knockout rounds for one tournament.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "standings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "groupId": {
                                "type": "string"
                              },
                              "groupName": {
                                "type": "string"
                              },
[...]
