{
  "openapi": "3.1.0",
  "info": {
    "title": "Sentinel X Mobile API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sentinelxesports.com.ng"
    }
  ],
  "paths": {
    "/api/mobile/v1/auth/request-reset": {
      "post": {
        "operationId": "postAuthRequestReset",
        "summary": "Send a password-reset email. Always returns ok — neutral regardless of whether the account exists.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/auth/resend-confirmation": {
      "post": {
        "operationId": "postAuthResendConfirmation",
        "summary": "Re-send the signup confirmation email. Always returns ok — neutral regardless of whether the address maps to an unconfirmed account.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/auth/signup": {
      "post": {
        "operationId": "postAuthSignup",
        "summary": "Create an account (ban/retired-username checks, referral + locale metadata). A confirmation email follows via the existing Supabase template.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9_]+$"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "ref": {
                    "type": "string"
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "fr",
                      "pcm"
                    ]
                  }
                },
                "required": [
                  "username",
                  "email",
                  "password"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Runtime configuration, kill-switch and feature flags (unauthenticated, cacheable).",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "minSupportedAppVersion": {
                          "type": "string"
                        },
                        "latestAppVersion": {
                          "type": "string"
                        },
                        "maintenance": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "message": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "message"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "siteUrl": {
                          "type": "string"
                        },
                        "coins": {
                          "type": "object",
                          "properties": {
                            "coinsPerNaira": {
                              "type": "number"
                            },
                            "nairaPerCoin": {
                              "type": "number"
                            },
                            "coinsPerEntry": {
                              "type": "number"
                            },
                            "coinsHalfEntry": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "coinsPerNaira",
                            "nairaPerCoin",
                            "coinsPerEntry",
                            "coinsHalfEntry"
                          ],
                          "additionalProperties": false
                        },
                        "enforcePhoneVerification": {
                          "type": "boolean"
                        },
                        "whatsappCommunityUrl": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "features": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "boolean"
                          }
                        }
                      },
                      "required": [
                        "minSupportedAppVersion",
                        "latestAppVersion",
                        "maintenance",
                        "siteUrl",
                        "coins",
                        "enforcePhoneVerification",
                        "whatsappCommunityUrl",
                        "features"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/devices": {
      "delete": {
        "operationId": "deleteDevice",
        "summary": "Unregister this device’s token (call before sign-out).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 4096
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      },
      "post": {
        "operationId": "postDevice",
        "summary": "Register (or move to this account) this device’s native FCM token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 4096
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "android",
                      "ios"
                    ]
                  },
                  "appVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  }
                },
                "required": [
                  "token",
                  "platform",
                  "appVersion"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/errors": {
      "post": {
        "operationId": "postClientError",
        "summary": "Report an app crash/exception into client_error_logs. Works signed-out. Never fails the caller.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20000
                  },
                  "stack": {
                    "type": "string",
                    "maxLength": 40000
                  },
                  "route": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "android",
                      "ios"
                    ]
                  },
                  "appVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "locale": {
                    "type": "string",
                    "maxLength": 10
                  }
                },
                "required": [
                  "message",
                  "platform",
                  "appVersion"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "ok"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/hall-of-fame": {
      "get": {
        "operationId": "getHallOfFame",
        "summary": "Public Hall of Fame awards, champions by tier, and bronze finishes with optional game filter.",
        "security": [],
        "parameters": [
          {
            "name": "game",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "games": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "category": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "slug",
                              "name",
                              "category"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "selectedGame": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "awards": {
                          "type": "object",
                          "properties": {
                            "mvp": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "username": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "displayName": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "avatarUrl": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "frameUrl": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "country": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "sxScore": {
                                      "type": "number"
                                    },
                                    "sentinelTier": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "membershipTier": {
                                      "type": "string"
                                    },
                                    "kycVerified": {
                                      "type": "boolean"
                                    },
                                    "isDeleted": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "username",
                                    "displayName",
                                    "avatarUrl",
                                    "frameUrl",
                                    "country",
                                    "sxScore",
                                    "sentinelTier",
                                    "membershipTier",
                                    "kycVerified",
                                    "isDeleted"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "goldenBoot": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "gameId": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "gameLabel": {
                                    "type": "string"
                                  },
                                  "winner": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "username": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "displayName": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "avatarUrl": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "frameUrl": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "country": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "sxScore": {
                                            "type": "number"
                                          },
                                          "sentinelTier": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "membershipTier": {
                                            "type": "string"
                                          },
                                          "kycVerified": {
                                            "type": "boolean"
                                          },
                                          "isDeleted": {
                                            "type": "boolean"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "username",
                                          "displayName",
                                          "avatarUrl",
                                          "frameUrl",
                                          "country",
                                          "sxScore",
                                          "sentinelTier",
                                          "membershipTier",
                                          "kycVerified",
                                          "isDeleted"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "metricValue": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "gameId",
                                  "gameLabel",
                                  "winner",
                                  "metricValue"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "categories": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "metricLabel": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "gameId": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "gameLabel": {
                                          "type": "string"
                                        },
                                        "winner": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "id": {
                                                  "type": "string"
                                                },
                                                "username": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "displayName": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "avatarUrl": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "frameUrl": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "country": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "sxScore": {
                                                  "type": "number"
                                                },
                                                "sentinelTier": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                },
                                                "membershipTier": {
                                                  "type": "string"
                                                },
                                                "kycVerified": {
                                                  "type": "boolean"
                                                },
                                                "isDeleted": {
                                                  "type": "boolean"
                                                }
                                              },
                                              "required": [
                                                "id",
                                                "username",
                                                "displayName",
                                                "avatarUrl",
                                                "frameUrl",
                                                "country",
                                                "sxScore",
                                                "sentinelTier",
                                                "membershipTier",
                                                "kycVerified",
                                                "isDeleted"
                                              ],
                                              "additionalProperties": false
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "metricValue": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "gameId",
                                        "gameLabel",
                                        "winner",
                                        "metricValue"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "category",
                                  "label",
                                  "metricLabel",
                                  "options"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "mvp",
                            "goldenBoot",
                            "categories"
                          ],
                          "additionalProperties": false
                        },
                        "champions": {
                          "type": "object",
                          "properties": {
                            "championsCup": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tournamentId": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "tournamentType": {
                                    "type": "string",
                                    "enum": [
                                      "champions_cup",
                                      "masters",
                                      "community_club",
                                      "open"
                                    ]
                                  },
                                  "gameId": {
                                    "type": "string"
                                  },
                                  "gameName": {
                                    "type": "string"
                                  },
                                  "date": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "prizePool": {
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "champion": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "runnerUp": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "name"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "championAvatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "seasonName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "tournamentId",
                                  "slug",
                                  "title",
                                  "tournamentType",
                                  "gameId",
                                  "gameName",
                                  "date",
                                  "prizePool",
                                  "champion",
                                  "runnerUp",
                                  "championAvatarUrl",
                                  "seasonName"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "masters": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tournamentId": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "tournamentType": {
                                    "type": "string",
                                    "enum": [
                                      "champions_cup",
                                      "masters",
                                      "community_club",
                                      "open"
                                    ]
                                  },
                                  "gameId": {
                                    "type": "string"
                                  },
                                  "gameName": {
                                    "type": "string"
                                  },
                                  "date": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "prizePool": {
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "champion": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "runnerUp": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "name"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "championAvatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "seasonName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "tournamentId",
                                  "slug",
                                  "title",
                                  "tournamentType",
                                  "gameId",
                                  "gameName",
                                  "date",
                                  "prizePool",
                                  "champion",
                                  "runnerUp",
                                  "championAvatarUrl",
                                  "seasonName"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "communityClub": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tournamentId": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "tournamentType": {
                                    "type": "string",
                                    "enum": [
                                      "champions_cup",
                                      "masters",
                                      "community_club",
                                      "open"
                                    ]
                                  },
                                  "gameId": {
                                    "type": "string"
                                  },
                                  "gameName": {
                                    "type": "string"
                                  },
                                  "date": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "prizePool": {
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "champion": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "runnerUp": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "name"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "championAvatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "seasonName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "tournamentId",
                                  "slug",
                                  "title",
                                  "tournamentType",
                                  "gameId",
                                  "gameName",
                                  "date",
                                  "prizePool",
                                  "champion",
                                  "runnerUp",
                                  "championAvatarUrl",
                                  "seasonName"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "open": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tournamentId": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "tournamentType": {
                                    "type": "string",
                                    "enum": [
                                      "champions_cup",
                                      "masters",
                                      "community_club",
                                      "open"
                                    ]
                                  },
                                  "gameId": {
                                    "type": "string"
                                  },
                                  "gameName": {
                                    "type": "string"
                                  },
                                  "date": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "prizePool": {
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "champion": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ],
                                    "additionalProperties": false
                                  },
                                  "runnerUp": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "name"
                                        ],
                                        "additionalProperties": false
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "championAvatarUrl": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "seasonName": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "tournamentId",
                                  "slug",
                                  "title",
                                  "tournamentType",
                                  "gameId",
                                  "gameName",
                                  "date",
                                  "prizePool",
                                  "champion",
                                  "runnerUp",
                                  "championAvatarUrl",
                                  "seasonName"
                                ],
                                "additionalProperties": false
                              }
                            }
                          },
                          "required": [
                            "championsCup",
                            "masters",
                            "communityClub",
                            "open"
                          ],
                          "additionalProperties": false
                        },
                        "bronze": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tournamentId": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "gameName": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "date": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "player": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "tournamentId",
                              "slug",
                              "title",
                              "gameName",
                              "date",
                              "player"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "games",
                        "selectedGame",
                        "awards",
                        "champions",
                        "bronze"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/home": {
      "get": {
        "operationId": "getHome",
        "summary": "Home: banners, live/upcoming tournaments, leaderboard teaser, hall-of-fame teaser, platform stats. Public — visible logged out, same as the web home page.",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "banner": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "imageUrl": {
                                  "type": "string"
                                },
                                "linkUrl": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "title",
                                "imageUrl",
                                "linkUrl"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "featuredTournament": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "prizePool": {
                                  "type": "number"
                                },
                                "registrationFee": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "tournamentStart": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "registrationEnd": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tournamentEnd": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "maxPlayers": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "format": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "tournamentType": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "cardImageUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "game": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "iconUrl": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "slug": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "category": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "name",
                                        "iconUrl",
                                        "slug",
                                        "category"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "title",
                                "slug",
                                "prizePool",
                                "registrationFee",
                                "status",
                                "tournamentStart",
                                "registrationEnd",
                                "tournamentEnd",
                                "maxPlayers",
                                "format",
                                "tournamentType",
                                "cardImageUrl",
                                "game"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "upcomingTournaments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "prizePool": {
                                "type": "number"
                              },
                              "registrationFee": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string"
                              },
                              "tournamentStart": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "registrationEnd": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "tournamentEnd": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "maxPlayers": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "format": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "tournamentType": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "cardImageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "game": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "iconUrl": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "slug": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "category": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "iconUrl",
                                      "slug",
                                      "category"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "title",
                              "slug",
                              "prizePool",
                              "registrationFee",
                              "status",
                              "tournamentStart",
                              "registrationEnd",
                              "tournamentEnd",
                              "maxPlayers",
                              "format",
                              "tournamentType",
                              "cardImageUrl",
                              "game"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "leaderboardTeaser": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "username": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "displayName": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "avatarUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "wins": {
                                "type": "number"
                              },
                              "totalMatches": {
                                "type": "number"
                              },
                              "sxScore": {
                                "type": "number"
                              },
                              "sentinelTier": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "membershipTier": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "equippedAvatarBorder": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "username",
                              "displayName",
                              "avatarUrl",
                              "wins",
                              "totalMatches",
                              "sxScore",
                              "sentinelTier",
                              "membershipTier",
                              "equippedAvatarBorder"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "hallOfFame": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "slug": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "prizePool": {
                                  "type": "number"
                                },
                                "gameName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "championName": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "slug",
                                "title",
                                "prizePool",
                                "gameName",
                                "championName"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "playerCount": {
                              "type": "number"
                            },
                            "tournamentCount": {
                              "type": "number"
                            },
                            "prizesPaidOut": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "playerCount",
                            "tournamentCount",
                            "prizesPaidOut"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "banner",
                        "featuredTournament",
                        "upcomingTournaments",
                        "leaderboardTeaser",
                        "hallOfFame",
                        "stats"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        }
      }
    },
    "/api/mobile/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "The signed-in user, their roles (drives the role-aware Admin section) and own profile.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "roles": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isStaff": {
                          "type": "boolean"
                        },
                        "isAdmin": {
                          "type": "boolean"
                        },
                        "profile": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "username": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "displayName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "avatarUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "whatsappNumber": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "country": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "locale": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "membershipTier": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "kycVerified": {
                                  "type": "boolean"
                                },
                                "deletionRequestedAt": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "username",
                                "displayName",
                                "avatarUrl",
                                "whatsappNumber",
                                "country",
                                "locale",
                                "membershipTier",
                                "kycVerified",
                                "deletionRequestedAt"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "roles",
                        "isStaff",
                        "isAdmin",
                        "profile"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "426": {
            "$ref": "#/components/responses/UpgradeRequired"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
[...]
